1.

In [2]:
# List of tuples
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483),
           ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sorting the list based on the integer value (second element) of each tuple
sorted_players = sorted(players, key=lambda x: x[1])

# Display the sorted list
print("Sorted list:", sorted_players)

Sorted list: [('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

2.

In [3]:
# List of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using lambda and map to find squares of all numbers
squares = list(map(lambda x: x ** 2, numbers))

# Display the result
print("Squares of the numbers:", squares)

Squares of the numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3.

In [5]:
# Given list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using map and lambda to convert integers to strings
string_tuple = tuple(map(lambda x: str(x), numbers))

# Display the result
print("Expected output:", string_tuple)

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

4.

In [6]:
from functools import reduce

# List of numbers from 1 to 25
numbers = list(range(1, 26))

# Using reduce to compute the product of the list
product = reduce(lambda x, y: x * y, numbers)

# Display the result
print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

5.

In [7]:
# Given list of numbers
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Using filter to find numbers divisible by both 2 and 3
divisible_by_2_and_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

# Display the result
print("Numbers divisible by 2 and 3:", divisible_by_2_and_3)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

6.

In [8]:
# Given list of strings
strings = ['python', 'php', 'aba', 'radar', 'level']

# Using filter and lambda to find palindromes
palindromes = list(filter(lambda x: x == x[::-1], strings))

# Display the result
print("Palindromes in the list:", palindromes)

Palindromes in the list: ['php', 'aba', 'radar', 'level']